[2017-02-03 18:48] remirobert opened #1 "ressource"
![Uploading recordGif99.gif…]()

[2017-02-03 18:49] remirobert commented on #1
![recordgif99](https://cloud.githubusercontent.com/assets/3276768/22604003/dd161210-ea49-11e6-923d-b4b32acfd642.gif)

[2017-02-03 19:55] remirobert commented on #1
![logo](https://cloud.githubusercontent.com/assets/3276768/22606144/035a4a28-ea53-11e6-8359-323c214c2439.png)

[2017-02-03 22:16] remirobert commented on #1
![recordgif100](https://cloud.githubusercontent.com/assets/3276768/22610650/ba71cf2a-ea66-11e6-8f94-6d3c9916740e.gif)

[2017-02-03 23:15] #1 closed

[2017-02-04 23:25] edasque opened #2 "[COCOAPODS] Dotzu added, black circle & crashes"
Hi,

I added Dotzu (0.1) via CocoaPods & inserted Dotzu.sharedManager.displayWindow() to the AppDelegate didFinishLaunchingWithOptions method. A black disc appears when running the app on a device and clicking it causes an immediate crash (or at least, it goes back to the Springboard).

Error follows. It seems to be missing a storyboard, maybe something that's not included in the CocoaPod? Bonne c

[2017-02-05 15:19] remirobert commented on #2
I have an issue with the **storyboards, xibs, and xcassets**

[2017-02-05 15:20] edasque commented on #2
Explique?

[2017-02-05 15:24] remirobert commented on #2
With cocoapods, I need to add this static resources in a bundle. I have try several things without success for the moment.

I added this line to my podspec :
[code]

On the pods I can see the different files.
But impossible to call them programmatically.

[2017-02-05 15:32] edasque commented on #2
Maybe https://github.com/Cosmo/TinyConsole does something similar?

[2017-02-05 15:35] remirobert commented on #2
No the framework doesn't have any storyboards of images. It's probably a very bad idea to had storyboards, xibs, and images in a framework.

But what if you have to ?
For example can create a framework with specific UI and assets you can share between your apps.

[2017-02-06 11:58] remirobert commented on #1
![recordgif1008](https://cloud.githubusercontent.com/assets/3276768/22646311/02988ba2-ec6c-11e6-8870-08b88ec1ce1c.gif)

[2017-02-07 10:22] remirobert commented on #2
Fixed with the version 0.6. Thanks again for reporting the issue.

[2017-02-07 10:22] #2 closed

[2017-02-08 02:02] jkyeo opened #4 "Some text in "application" and "settings" page is not shown."
It looks like below:
![](http://7xqi9q.com1.z0.glb.clouddn.com/2017-02-08-WX20170208-100102.png)
![](http://7xqi9q.com1.z0.glb.clouddn.com/2017-02-08-WX20170208-100055.png)

[2017-02-08 06:55] remirobert commented on #4
Awwwww that's weird. The **TextColor** is setted to white, directly on the storyboard.
Is it an accessibility issue somehow ?

[2017-02-08 07:00] jkyeo commented on #4
@remirobert Yes, testing it on iPhone SE and iPhone 7 simulator (iOS 10.2), the issue appeared every time.

[2017-02-08 07:02] remirobert commented on #4
@jkyeo ok, how did you integrate **Dotzu** cocoapods, carthage, code ?

[2017-02-08 07:04] jkyeo commented on #4
@remirobert via cocoapods.

[2017-02-08 07:05] remirobert commented on #4
@jkyeo it's extremely strange it works fine one my devices, and simulator.
Do you have any clue for this issue ?

[2017-02-08 07:09] jkyeo commented on #4
@remirobert
No more at the present moment.
I will test it on my device later.

[2017-02-08 07:21] jkyeo commented on #4
@remirobert Same issue on my device (iPhone 6s Plus running iOS 10.2.1).

[2017-02-08 07:22] jkyeo commented on #4
Running view debug. It shows the text color is black.
![](http://7xqi9q.com1.z0.glb.clouddn.com/2017-02-08-WX20170208-152037.png)

[2017-02-08 08:05] remirobert commented on #4
Can you check on the storyboard directly ? **Pods/Dotzy/Resources/Settings.storyboard**

[2017-02-08 08:08] jkyeo commented on #4
@remirobert No problem!
![](http://7xqi9q.com1.z0.glb.clouddn.com/2017-02-08-WX20170208-160724.png)

[2017-02-08 08:09] remirobert commented on #4
I am lost... 😢

[2017-02-08 08:16] jkyeo commented on #4
Strange issue...

[2017-02-08 08:18] remirobert commented on #4
Stranger things...
Try to reinstall the Pod ? Be sure you have the last one 0.6.
I will close it for now. if it persists, or if you find the solution let me know.
Thanks for reported it.

[2017-02-08 08:18] #4 closed

[2017-02-09 02:18] edasque opened #5 "Network login doesn't seem to work"
Even though it's enabled in the settings, after doing a few network requests (based on Alamofire), nothing seems to register in the network tab.

Erik

[2017-02-09 08:06] remirobert commented on #5
Ok, did you had the logger to your **Alamofire manager** ?

[code]

[2017-02-10 08:34] remirobert commented on #5
@edasque did it work for you ?
Please reopen the request if not.

Thanks. 🙏

[2017-02-10 08:34] #5 closed

[2017-02-10 21:33] Domsware opened #6 "Display logs from XCGlogger"
[XCGlogger](https://github.com/DaveWoodCom/XCGLogger) is a popular logging tool.

It should be great to connect Dotzu to XCGlogger. And other log tool by extension.

[2017-02-10 21:39] remirobert commented on #6
@Domsware That's an awesome idea 💡
Thank you 😊, I will add this suggestion in my list.

[2017-02-11 23:50] nickbit opened #7 "ObjC support?"
Hello,

this seems a very good debugging tool. Any plans to support ObjC?

[2017-02-12 09:21] remirobert commented on #7
Currently, I have an issue with the ```Logger``` class.
The implementation is not compatible with Objc.
I planned to add a new class for Objc support, and maybe override the NSLog.

But the rest is compatible, you can use the network and crash debugger.

[2017-02-12 14:30] nickbit commented on #7
Thank you for the quick response.
Can you provide an ObjC example project that shows how to add Dotzu?

[2017-02-13 07:27] dars opened #8 "minimum deployment target"
hello, can you support minimum deployment target iOS 9.0？
i use carthage to install Dotzu
when i use on my project when i build
i got alert message Module files minimum deployment target is iOS 10.2 v10.2...

[2017-02-13 08:16] remirobert commented on #8
Fixed with version 0.9
minimum target reported to iOS 9.

[2017-02-13 08:16] #8 closed

[2017-02-13 08:28] dars commented on #8
thank you.. ：）

[2017-02-17 09:30] jkyeo opened #9 "Dotzu affect preferredStatusBarStyle in UIViewController"
I override preferredStatusBarStyle as .lightContent in my viewController:

Without Dotzu injected, everything is ok. But when I use Dotzu, the statusBar style shown as .default.
![](http://7xqi9q.com1.z0.glb.clouddn.com/2017-02-17-WechatIMG1.jpeg) ![](http://7xqi9q.com1.z0.glb.clouddn.com/2017-02-17-WechatIMG2.jpeg)

[2017-02-17 12:20] remirobert commented on #9
I guess it's normal, because Dotzu has its own window, with its own root view controller.
I would say, if it's working without Dotzu, it's fine (it will be in the production app).
If you want to have the same status bar you need to do the modification in the Dotzu framework as well.

[2017-02-17 14:49] #9 closed

[2017-02-18 18:12] remirobert commented on #7
https://github.com/remirobert/Dotzu-Objective-c

You can find an example project. Working fully in Objective-c, with AFNetworking.

[2017-02-18 18:12] #7 closed

[2017-02-19 10:03] #6 closed

[2017-02-20 08:53] dars opened #10 "dotzu eat my parameters？"
hello..
when i use dotzu and alamofire together
i wrote a small project, when i click button, send a request to api
first time click it's work nice, but when i click second times my parameters is gone...
![2017-02-20 4 47 16](https://cloud.githubusercontent.com/assets/192553/23117798/57df96f2-f78c-11e6-8882-c24236363844.png)
but when i remove `Dotzu.sharedManager.displayWindow()` it's work great
i

[2017-02-20 09:10] remirobert commented on #10
Fixed, thanks for reporting the issue, and making Dotzu better.
You can update the framework, version 1.5.

[2017-02-20 09:10] #10 closed

[2017-02-20 16:14] thedoubler opened #11 "Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Could not find a storyboard named 'Manager' in bundle NSBundle"
Nice library and work, but cannot use it. Am I missing something?
Added using CocoaPods.

Thanks,

[2017-02-20 16:16] remirobert commented on #11
Can you check the pod version of the framework you are using please ?
You can find it in your **Podfile.lock**.

[2017-02-20 16:25] thedoubler commented on #11
The version is - Dotzu (0.1)
Please tell me that you need any info

[2017-02-20 16:27] remirobert commented on #11
update your **Podfile** with that, and you are ready to go !!

[code]

Or you can try a ```pod update```.
But be sure to use the last version : **1.5**

[2017-02-20 16:27] #11 closed

[2017-02-22 12:59] remirobert commented on #1
![banner-dotzu](https://cloud.githubusercontent.com/assets/3276768/23212468/28114ab6-f907-11e6-83cb-184c3d214da1.png)

[2017-02-22 13:02] remirobert commented on #1
![banner-dotzu](https://cloud.githubusercontent.com/assets/3276768/23212537/7df0620a-f907-11e6-9619-e10aea80eca8.png)

[2017-02-22 13:03] remirobert commented on #1
![banner-dotzu](https://cloud.githubusercontent.com/assets/3276768/23212567/9d036e12-f907-11e6-9c61-d6007d9a117e.png)

[2017-03-06 21:49] jonchui opened #12 "`print()` only being overridden in `AppDelegate`"
For some reason `print` in other classes than `AppDelegate` is not getting overridden?

[2017-03-06 22:10] jonchui opened #13 "Adding to project freezes user input, does not show dotzu floating button"
It's weird because we're using this in 2 different projects.

The first one is an older project that has been in development for 2 years. When i follow instructions to add to the AppDelgate via `Dotzu.sharedManager.displayWindow()`, it
1) does not show dotzu manager
2) seems to freeze all user input on the screen (UI interaction works, b/c i set an animation and that still works, just all user inp

[2017-03-06 22:19] remirobert commented on #13
there is something very wrong. it's like your user experience is on the Dotzu UIWindow.

See a correct structure to work with Dotzu :
<img width="422" alt="screen shot 2017-03-06 at 22 17 40" src="https://cloud.githubusercontent.com/assets/3276768/23632712/df5092d8-02ba-11e7-9d98-f980a7015fa6.png">

Maybe you are doing some stuff with the UIWindow, and you are selecting the Dotzu's one.

[2017-03-06 22:22] remirobert commented on #12
Yes that's normal and, because of Swift, you need to import Dotzu on your files to get the print overridden. Sorry for that.

[code]

Maybe the solution would be to add a definition in objective-c file and add to bridging header. So you won't have to import Dotzu each time.
You have a Objective-c pod if you want to try.

[2017-03-06 22:27] jonchui commented on #13
Ah, figured it out: Turns out the old project hadn't called "

`self.window?.makeKeyAndVisible()` in `AppDelegate#didFinishLaunching`

Hm... i guess if you don't call it, and no other window calls it, apple just assumes you're the only window and makes you key & visible

[2017-03-06 22:28] #13 closed

[2017-03-07 13:20] remirobert commented on #13
Thanks for letting me know.

[2017-03-07 13:21] remirobert commented on #12
Reopen if you still have the issue.

[2017-03-07 13:21] #12 closed

[2017-03-07 15:09] johndpope-karhoo opened #14 "swift 3 - crash - fix for bundle"
N.B. When using pod install on new repo that is not named remi.robert.Dotzu - sample project should crash with missing storyboard. It appears all the hardcoded references to bundle "remi.robert.Dotzu" are not working on xcode 8.2 / swift 3 - cocoapods 1.2

ManagerViewController.swift

[code]

 Could not load the "filter" image referenced from a nib in the bundle with identifier "org.cocoapods.Dotz

[2017-03-07 15:21] johndpope commented on #14
to recreate this problem create a new test cocoapod project

pod init

Podfile
platform :ios, '9.0'
inhibit_all_warnings!
use_frameworks!
target 'example' do
    pod 'Dotzu'
end

[for reference](https://www.google.com/search?sourceid=chrome-psyapi2&rlz=1C5CHFA_enUS734US734&ion=1&espv=2&ie=UTF-8&q=uistoryboards%20with%20cocoapods&oq=uistoryboards%20with%20cocoapods&aqs=chrome..69i57.4207j0j7)

[2017-03-07 16:40] remirobert commented on #14
Here the current version :

[code]

Are you using the last pod version ? Can check or try ```pod update```
The current version is the **1.6**.

[2017-03-07 17:02] johndpope-karhoo commented on #14
yep - my bad. thx
<img width="462" alt="screen shot 2017-03-07 at 11 59 13 am" src="https://cloud.githubusercontent.com/assets/20524458/23668068/e599b930-032d-11e7-8a58-7869e253dba5.png">

[2017-03-07 17:02] #14 closed

[2017-03-07 17:03] remirobert commented on #14
No problem 😃

[2017-03-08 15:22] natalia-osa opened #15 "Network - don't scroll to bottom after popping detail view"
Let's say I've got 10000 network requests recorded in the Network tab. I want to investigate top 10 (the oldest ones). I need to scroll all the way up (by the way - tap on the status bar to scroll to the top doesn't work), select a cell, read everything in the details view. Then I tap `back` and it takes me to the list, but it scrolls all the way down to the newest records, and I have to scroll al

[2017-03-08 20:58] remirobert commented on #15
Yes sorry about that, when the view appear, I scroll the list down. I made that by design. I will check to improve that.

Thanks for reporting that.

[2017-03-09 14:44] tigrim opened #16 "Make please support ios 8.0"
Now, I have same problem with storyboard and other parts of project.

[2017-03-09 15:34] remirobert commented on #16
Hello @tigrim can you be more specific about the issues you got ?
Can you upload some screenshots if it's relevant to your issue ? 🐸

[2017-03-09 21:16] remirobert commented on #15
Fix it's the version 1.7.
you can update by doing a ```pod update```

[2017-03-09 21:16] #15 closed

[2017-03-10 07:14] tigrim commented on #16
i am use project without **pods**. If my developer target less 9.0, i have next error: **storyboard reference cannot be the destination of relationship segues prior to iOS 9.0** (Manager.storyboard)

[2017-03-10 15:09] DanielAsher opened #17 "Crash sessions don't capture all null dereferences on device"
Hi,

thanks for an incredible project - a real tour de force.

I have noticed that certain crashes in my application are not caught by Dotzu when run on device. Replacing [this](https://github.com/remirobert/Dotzu/blob/master/Example/Example/CrashTestTableViewController.swift#L18) line with:
[code]
produces no crash report on restart.

Would someone be able to verify this?

many thanks,

Daniel

[2017-03-10 19:36] remirobert commented on #17
Thanks for reporting that. I will have a look. 👀

[2017-03-10 19:36] #16 closed

[2017-03-11 09:36] DanielAsher commented on #6
Below's the XCGLogger `DotzuLogDestination` I use. I also have a fork that comments out [this](https://github.com/remirobert/Dotzu/blob/master/Dotzu/Logger.swift#L56) line. A configuration option would be better :)

[code]

[2017-03-11 09:46] DanielAsher opened #18 "Consider allowing show / hide window functionality"
Hi again,

I require show / hide window functionality to use with the excellent [SwiftTweaks](https://github.com/Khan/SwiftTweaks) project. This allows a more advanced TestFlight user to monitor and understand the app. I have a trivial implementation [here](https://github.com/DanielAsher/Dotzu/commit/228664747f68ae987a8a95f409d38d026d1176c9#diff-6311f567bb444164053726a3d9e63589R37) but would be ve

[2017-03-11 10:47] DanielAsher commented on #17
I googled around and found `SIGTRAP` being used in [this](https://github.com/plausiblelabs/plcrashreporter/blob/05d34741d3a90bbed51214983110943831ae5943/Source/PLCrashReporter.m#L88) line to trap null dereferences on device. More info [here](http://stackoverflow.com/questions/10315526/exc-bad-access-automatic-handling).

I implemented on my fork [here](https://github.com/DanielAsher/Dotzu/commit/a

[2017-03-11 10:47] #17 closed

[2017-03-11 10:48] remirobert commented on #17
@DanielAsher Thanks for your research. I would love a PR. 🍻

[2017-03-11 10:55] remirobert commented on #6
@DanielAsher Hey, that's very good. I am working on a very modulable way to display logs from any sources. Using protocols. The direction I want to take with dotzu, is like a generic debug tools, than you can improve, and use with your datas.

[2017-03-11 11:10] DanielAsher commented on #17
see #19

[2017-03-11 11:29] DanielAsher opened #20 "Allow public function to disable console logging."
I'm using XCGLogger in conjunction with Dotzu (#6) and have disabled default console logging to avoid duplicates [here.](https://github.com/DanielAsher/Dotzu/blob/danielasher/develop/Dotzu/Logger.swift#L56)

A better solution would be to allow a public function to configure this. Would you like a PR?

thanks,
Daniel

[2017-03-11 11:32] DanielAsher commented on #20
that'll be all this morning 😅. thanks for your attention 🏋️.

[2017-03-11 11:36] remirobert commented on #20
I am working on it. That will be a major update for the project.

[2017-03-11 11:37] remirobert commented on #18
The feature to hide/show the dotzu window, was already asked. I will add it in priority.

[2017-03-13 20:10] edasque commented on #5
I must be missing out something obvious because by adding this code, none of my queries succeed, most of them with a canceled (500?) some just silently in gray with a request latency of 0ms. I don't really know what to do from here. I changed:
[code]
to
[code]

[2017-03-14 12:18] edasque commented on #5
@remirobert , FYI I can't re-open

[2017-03-17 17:59] wwe-johndpope commented on #20
Another noteworthy contender for logging - https://github.com/emaloney/CleanroomLogger/issues/50

[2017-03-17 18:14] wwe-johndpope opened #21 "Enhancements - Logger + nserror + tap to expand"
currently - I am passing this
 Logger.error(error?.localizedDescription)

but swift 3 wants me to pass something like this
  Logger.error(error?.localizedDescription ?? "")

I think escalating the nserrors into the logger is the number 1 value proposition for testers to see.
so any kind of help here to simplify for users of control I think would go a long way.

perhaps the error could be overloade

[2017-03-18 18:30] remirobert commented on #18
done version 1.8

[2017-03-18 18:30] #18 closed

[2017-03-24 20:52] wwe-johndpope opened #23 "Enhancements - provide access to...."
configure log levels
//            LogLevelFilter.shared.error = true
//            LogLevelFilter.shared.warning = false
//            LogLevelFilter.shared.info = false
//            LogLevelFilter.shared.verbose = false

and clear log tableview programmatically

[2017-03-24 22:36] remirobert commented on #23
Hello @wwe-johndpope what do you mean ? enable / disable log level ?

[2017-03-24 23:39] wwe-johndpope commented on #23
When I add these lines to my appdelegate
-  LogLevelFilter.shared.error = true

it's not accessible.

[2017-03-28 17:41] edasque commented on #5
OK, je laisse tomber. @remirobert . Not worth waiting that long, switching to https://github.com/zixun/GodEye

[2017-03-28 19:43] #21 closed

[2017-03-28 19:43] #20 closed

[2017-03-28 19:54] wwe-johndpope opened #24 "defect - when I switch to errors I'm still seeing counter increment."
<img width="380" alt="screen shot 2017-03-28 at 3 50 06 pm" src="https://cloud.githubusercontent.com/assets/26149651/24424338/43626192-13ce-11e7-8470-9e01cd3f8551.png">

I wonder if it would make most sense if inner circle could be used as a kind of reg / orange /blue / grey... just an idea.
![docs_190726c_pie_chart_en](https://cloud.githubusercontent.com/assets/26149651/24424418/7eaac528-13ce-11e

[2017-03-28 21:47] remirobert commented on #24
like stats for the logs for example ? or request status ?
I really need new icon, design, and mockups.

[2017-03-28 21:57] wwe-johndpope commented on #24
I wonder whether it would be best to provide a delegate method
then people could switch in there own uiview and respond with animations / tricks.

[2017-03-28 21:58] remirobert commented on #24
I am working on a modular version, where anyone can create module for Dotzu. Then with protocol Logger, you can log or display what you want. And even create custom Cells.

But it takes time ⌚️.

[2017-03-28 23:59] wwe-johndpope commented on #24
Remi, do share the alpha branch - I can take a look.

[2017-03-29 08:01] remirobert commented on #24
sureI will make a branch. I planned to start working on it next week. I will let you know here.

[2017-03-29 08:01] #24 closed

[2017-04-04 15:11] VincentNarbot opened #26 "Failing to display PUT -> Http data sent on second request"
If we send 2 requests to the same endpoint using different HTTP parameters, and we are not waiting for the first request to be completed. Dotzu is not displaying the "HTTP DATA SENT" for the second request.

[2017-04-15 01:48] jkyeo commented on #4
I'm sorry this is my fault.
I set `UILabel.appearance().textColor = defaultTextColor` in some place.
Remove it. fixed.

[2017-04-15 09:47] remirobert commented on #4
no problem. 👍🏼

[2017-05-05 12:31] alex-chan opened #28 "It doesn't work in app extension, does it?"
It seems like Dotzu does not work in app extension ?
I did just as the doc instructed in my network extension, but no ` bubble head button`

[2017-05-06 08:47] remirobert commented on #28
I nerver tried in app extension. That's really interesting. Maybe it's not working because I need a UIWindow to display the bubble.

[2017-05-11 15:12] johndpope commented on #23
I think simply updating

class LogLevelFilter {
->
open class LogLevelFilter {

should do it.

[2017-05-11 15:40] johndpope opened #29 "Decouple NSKeyArchiver from StoreManager.swift"
further to investigation
https://github.com/remirobert/Dotzu-Objective-c/issues/4

I draft this code for your review
https://gist.github.com/johndpope/1dd3663a8712bb1901536a44bccd6a5a

this way - if we can get this into core library,
I can over ride this with any library that conforms to logging protocol,

protocol LogProvider {
    func archiveLogs(logs: [T])
    func storedDataForKey(key:String)

[2017-05-16 11:30] talezion opened #30 "Filter does now work."
Filter does not work.

Great library btw! ;)

[2017-05-18 16:52] Mozahler opened #31 "Only print statements from 1st view controller appear in dotzu log"
I have a tab bar controller with each view controller inside a navigation controller getting its own tab. In Xcode I get log messages that don't appear in the app (dotzu's green and black screen). It seems I only get messages from the 1st view controller, but not the 2nd.  Do I need to enable in each file, or just in the AppDelegate.swift file? What else could I be doing wrong?

[2017-05-18 19:22] wwe-johndpope commented on #31
paste the code in a gist.
did you set a break point? maybe the print logging is not being invoked.
try with print ("Test")

[2017-05-19 16:52] Mozahler commented on #31
why would it be invoked in one view controller and not the other? the only "code" is:
[code]

[2017-05-19 16:59] johndpope opened #32 "crash on background thread"
<img width="1430" alt="screen shot 2017-05-19 at 12 51 33 pm" src="https://cloud.githubusercontent.com/assets/289994/26258278/fa5b1f2e-3c91-11e7-8eda-567eb6d92212.png">

I updated a PINCache sample gist here
https://gist.github.com/johndpope/1dd3663a8712bb1901536a44bccd6a5a

[2017-05-19 17:06] johndpope commented on #32
It seems to be reproducible  in my code base under obscure edge case in background thread.
code below is woven across different classes. In any case - this is the fragility of nsarchiver / threading.

[code]

[2017-05-19 17:22] johndpope commented on #32
this is unrelated to my bug.

[2017-05-19 17:22] #32 closed

[2017-05-19 18:45] johndpope commented on #31
what logging are you using?

Logger.verbose("Test")

Do you have some settings switched off in app screen to disable some conditions?

[2017-05-19 21:30] remirobert commented on #31
very strange, as @johndpope which Logger are you using.
Even if you are using print, you will need to **import Dotzu** everywhere.

[2017-05-19 21:31] #30 closed

[2017-05-21 20:50] Mozahler commented on #31
Thanks. The readme instructions said to put it in app delegate. I guess they should say but it in any class you want to trace.

Sent from my iPhone

[2017-05-22 10:27] remirobert commented on #31
So you can initialise **Dotzu** everywhere in your app.
Dotzu will analyse everything by default.
If you want only a specific class, you will need to **enabled** and **disabled** Dotzu.

[2017-05-22 10:30] remirobert commented on #31
@Mozahler  Here what you can do :

[code]

[2017-05-22 10:30] #31 closed

[2017-06-01 19:09] johndpope commented on #29
when my app starts - there's so much rapid logging - it takes dotzu logger some time to catch up.
need to fix this.  If I open a PR - will you consider merging?

[2017-06-09 17:10] johndpope commented on #29
@remirobert  - fyi
https://github.com/gregheo/SwiftAveiro2017

[2017-06-23 13:21] johndpope opened #36 "enhancement - fps overlay"
https://github.com/sagesse-cn/swift-chat

![img_9402](https://user-images.githubusercontent.com/289994/27483940-66c29f7e-57f5-11e7-8f2b-5b9d5429f90c.PNG)

[2017-06-25 21:06] TaiPhamD commented on #4
![img_0002](https://user-images.githubusercontent.com/10516699/27519751-7423d9ce-59af-11e7-90cb-7b02e42adcb0.PNG)
![img_0001](https://user-images.githubusercontent.com/10516699/27519752-74242df2-59af-11e7-825e-f58ebe6d06e4.PNG)

I am having issues with text color and I dont see where in my code i could override it. any tips?

[2017-06-25 21:10] rushstrike opened #37 "white text color on white background"
I am not sure how but the background color is white so i cant see the logs
![img_0002](https://user-images.githubusercontent.com/10516699/27519763-f58669a0-59af-11e7-8a20-f1d60b25827a.PNG)
![img_0001](https://user-images.githubusercontent.com/10516699/27519764-f588ed2e-59af-11e7-9fe6-4a0ff52db577.PNG)

[2017-06-25 21:18] rushstrike commented on #37
FYI i am building your exact example app on iOS 9.3 . It might be because i am using an older version of iOS?

[2017-07-07 23:40] wwe-johndpope commented on #29
@remirobert  - this library is conflicting with another library that is unhooking the following hooks.

-> LoggerCrash.unregister()
this is called - even though - register is never called.
        NSSetUncaughtExceptionHandler(nil)
        signal(SIGILL, SIG_DFL)
        signal(SIGABRT, SIG_DFL)
        signal(SIGFPE, SIG_DFL)
        signal(SIGBUS, SIG_DFL)
        signal(SIGSEGV, SIG_DFL)

[2017-07-22 14:00] johndpope commented on #36
closing this
the code is here if you're interested
https://github.com/sagesse-cn/swift-chat/blob/fc2146552e70d3dad7bebfaba4fbb47a44404ee8/Librarys/FPSLabel.swift

[2017-07-22 14:00] #36 closed

[2017-07-22 14:09] remirobert commented on #36
Thanks @johndpope . I almost finished the version 2.
I am also trying to have a test coverage close to 100% to allows contributions.

[2017-08-31 13:44] MaxCavalheiro opened #38 "Dotzu + Alamofire"
Hello,

I'm using Alamofire to handler my requests, and in your tutorial  you mentions it:
**/Your custom configuration
let configuration = URLSessionConfiguration.default

///Add the network logger on the configuration
Dotzu.sharedManager.addLogger(session: configuration)

//Use it:
//For Alamofire
let sessionManager = Alamofire.SessionManager(configuration: configuration)

//For URLSession
let s

[2017-09-11 20:23] hiburn8 opened #40 "Build as a .dylib?"
I'm a security consultant and regularly test pre-build iOS binaries for security issues. This looks like another great tool to add to the kit-bag for testing the networking of apps... although, i cannot for the life of me figure out how to build this as a dynamic library. I know XCode no longer has the options for dynamic frameworks enabled so this would require some command-line voodoo. I've look

[2017-09-13 07:07] remirobert commented on #40
It's very interesting, that's a use case I haven't think of.
I don't know if that's possible, especially with swift.

I will definitely check that. During that time if you find any resource that can help me to figure it out, reply to that issue.

[2017-09-19 10:27] hiburn8 commented on #40
Thanks for the response, i've just seen it. Still not having much luck, although i would still be keen to get it working.

[2017-09-20 07:28] johndpope commented on #40
@hiburn8  -  you may want to probably checkout revealapp.com
there's a lot of hacks to inject their dylib into prebuilt apps.
https://gist.github.com/search?utf8=%E2%9C%93&q=reveal+dylib&ref=searchresults

[2017-09-27 11:18] mkeremkeskin opened #41 "Slow printing to console"
Hey there,

I'm logging a lot of stuff like arrays etc. By using using Dotzu's print() (overrides standart version) method or Dotzu's Logger class methods, I observed that logs appearing on console really slow comparing to standard print() method.

I want to continue using Dotzu beacuse it's nice to see the logs on the app for our QA team. But this slow logging really affects my development routin

[2017-10-18 16:41] hernangonzalez opened #45 "Swift 4 support"
Hello @remirobert,

Will you continue support to swift-4? Cocoapods version does not compile at the moment.

Thanks,
H.

[2017-11-26 15:47] johndpope commented on #41
the problem is nsarchive - it needs to be ripped out.
@remirobert - lets fix this.
it should be a couple of lines to switch out
        let dataArchive = NSKeyedArchiver.archivedData(withRootObject: logs)

and use a different storage provider
my vote is to use
https://github.com/pinterest/PINCache

[code]

https://github.com/remirobert/Dotzu/issues/29

https://github.com/remirobert/Dotzu-Objective

[2017-11-26 15:49] johndpope opened #47 "memory woes - nsarchiver"
need to fix this

related
https://github.com/remirobert/Dotzu-Objective-c/issues/4

![screen shot 2017-11-26 at 10 42 42 am](https://user-images.githubusercontent.com/289994/33241707-73b4c6ae-d297-11e7-86f8-c92e724b4ce8.png)
[code]

[2017-11-26 16:41] johndpope commented on #41
@mkeremkeskin - you can use this  https://github.com/PTEz/LumberjackConsole

[2017-11-27 14:08] EugeneGoloboyar opened #48 "Extend Device struct with new iOS devices."
Thanks for wonderful tool.
What I've noticed that Device struct currently doesn't include latest iOS devices.
iPhone X for example.
Suppose it might be useful to add them.

Thanks if you will find some time to have a look.

[2018-01-07 14:53] liman123 opened #49 "some time it crash, can you fix it?"
some time it crash, can you fix it?
![screen shot 2018-01-10 at 8 11 30 pm](https://user-images.githubusercontent.com/6781027/34772302-862ee746-f642-11e7-96ee-dc862072df62.png)

[2018-01-08 02:15] liman123 commented on #48
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@EugeneGoloboyar

[2018-01-08 02:15] liman123 commented on #47
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@johndpope

[2018-01-08 02:15] liman123 commented on #45
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@hernangonzalez

[2018-01-08 02:15] liman123 commented on #41
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@mkeremkeskin @johndpope

[2018-01-08 02:15] liman123 commented on #40
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@hiburn8

[2018-01-08 02:16] liman123 commented on #38
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@MaxCavalheiro

[2018-01-08 02:16] liman123 commented on #37
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@rushstrike

[2018-01-08 02:16] liman123 commented on #29
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@johndpope @wwe-johndpope

[2018-01-08 02:16] liman123 commented on #28
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@alex-chan

[2018-01-08 02:16] liman123 commented on #23
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@wwe-johndpope

[2018-01-08 02:16] liman123 commented on #26
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@VincentNarbot

[2018-01-08 02:17] liman123 commented on #12
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@jonchui

[2018-01-08 02:17] liman123 commented on #6
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@Domsware

[2018-01-08 02:17] liman123 commented on #7
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@nickbit

[2018-01-08 02:17] liman123 commented on #8
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@dars

[2018-01-08 02:18] liman123 commented on #9
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@jkyeo

[2018-01-08 02:18] liman123 commented on #10
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@dars

[2018-01-08 02:18] liman123 commented on #11
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@thedoubler

[2018-01-08 02:18] liman123 commented on #13
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@jonchui

[2018-01-08 02:18] liman123 commented on #14
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@johndpope-karhoo @johndpope

[2018-01-08 02:18] liman123 commented on #15
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@natalia-osa

[2018-01-08 02:18] liman123 commented on #16
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@tigrim

[2018-01-08 02:18] liman123 commented on #17
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@DanielAsher

[2018-01-08 02:18] liman123 commented on #18
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@DanielAsher

[2018-01-08 02:18] liman123 commented on #20
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@DanielAsher

[2018-01-08 02:19] liman123 commented on #21
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@wwe-johndpope

[2018-01-08 02:19] liman123 commented on #24
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@wwe-johndpope

[2018-01-08 02:19] liman123 commented on #30
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@talezion

[2018-01-08 02:19] liman123 commented on #31
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@Mozahler @wwe-johndpope @johndpope

[2018-01-08 02:19] liman123 commented on #32
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@johndpope

[2018-01-08 02:19] liman123 commented on #36
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@johndpope

[2018-01-08 02:19] liman123 commented on #5
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@edasque

[2018-01-08 02:19] liman123 commented on #4
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@jkyeo

[2018-01-08 02:19] liman123 commented on #2
Hi, I released [DebugMan](https://github.com/liman123/DebugMan), it is forked from [Dotzu](https://github.com/remirobert/Dotzu).
Welcome to use! 😃 thanks!
@edasque

[2018-01-08 22:12] jonchui commented on #12
I get a 404 when clicking on it?
ᐧ

Jon Chui | YwamKona.org | http://jonchui.com | @jonchui
<http://twitter.com/jonchui>

life verse: Matt 13:44 | our family blog @ vickiandjon.com  | ping me if
you have exciting freelancing projects ;) | 424-241-2484

On Sun, Jan 7, 2018 at 4:17 PM, liman <notifications@github.com> wrote:

[2018-01-09 16:38] johndpope commented on #47
@remirobert  - this class successfully removes NSKeyedUnarchiver for simply adding logs. crash logs are persisted.

https://github.com/liman123/DebugMan/blob/master/Sources/Dotzu/StoreManager.swift

[2018-01-10 12:14] liman123 commented on #45
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
It support Swift-4. @hernangonzalez

[2018-01-10 12:16] liman123 commented on #48
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
It support iPhone X. @EugeneGoloboyar

[2018-01-10 12:18] liman123 commented on #41
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
It print() well and quick. And it support color logs. @mkeremkeskin

[2018-01-10 12:20] liman123 commented on #47
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
I have test and it will not crash. @johndpope

[2018-01-10 12:22] liman123 commented on #37
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
it works on iOS8~11, and I have tested well. @rushstrike

[2018-01-10 12:24] liman123 commented on #23
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
It can print colors logs like .red .blue .yellow just `print("hello work", .red)`
I think this is more cool. @wwe-johndpope

[2018-01-10 12:26] liman123 commented on #26
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
It can show all HTTP and HTTPS requests in your APP (include SDKs). @VincentNarbot

[2018-01-10 12:30] liman123 commented on #38
[DebugMan](https://github.com/liman123/DebugMan) is forked form Dotzu.
It support any HTTP requests with just one line codes in AppDelegate.swift `DebugMan.shared.enable()`
This is more convenient. @MaxCavalheiro

[2018-01-10 12:35] #49 closed

[2018-01-10 13:35] hernangonzalez commented on #45
Good to know, thanks.

[2018-01-10 13:35] #45 closed

[2018-01-22 06:42] liuxc123 opened #52 "supported Swift4.0"
Swift4.0 is not supported now? When will swift4.0 be updated?

[2018-01-29 13:15] YanSte commented on #52
Please make an update ! is very fast

[2018-02-12 12:09] hiburn8 commented on #40
True. But reveal doesnt have on-device inspection, it relies on a mac app to actually view stuff. And the main thing i like about Dotzu is the networking inspector, which reveal cant do. My understanding is Reveal is just for looking at app view hierarchies, mostly for UI development :(

[2018-02-18 10:59] liman123 commented on #52
DebugMan support swift 4.
You can try it.search DebugMan

[2018-03-30 02:50] NSKaleidoscope commented on #52
i will appreciate that u make an update to support Swift 4.0, thx!

[2018-04-02 13:54] DotzuX commented on #52
Try [DotzuX](https://github.com/DotzuX/DotzuX), support Swift4.1 for Xcode9.3

[2018-04-28 07:32] zhaozzq opened #54 "Module will become 'exampleWindow', dequeueReusableCell(withIdentifier:) can't find cell xib"
Module will become 'exampleWindow' if don't use `use_frameworks!` in Podfile.

[2018-05-07 15:27] pippolino commented on #52
Why don't you accept the pull request #45?

[2018-08-03 20:23] CarlinhaCamargo opened #55 "SSL certificate pinning conflict"
When using SSL pinning (disabling SSL certificate verification) and logging network requests with Dotzu, the pinning is ignored and the requests are accused to be not verified. I've tried to resolve this tweking the pod around but didn't find any solution.

`     Dotzu.sharedManager.addLogger(session: configuration) `

[2018-09-27 02:26] rgmyyw commented on #52
+ 1

[2018-10-19 16:41] EdmundLeex opened #56 "becomeFirstResponder doesn't work"
I have a view controller that automatically opens up the keyboard by using `becomeFirstResponder` on a `UITextField`. But with Dotzu, it stops working.

[2019-01-22 02:47] Marcello168 opened #58 "Swift suport 4.2？"
Swift4.2 is not supported now? When will swift4.2 be updated?

[2019-01-24 08:11] remirobert commented on #58
I am actually working on a new version

[2019-01-24 08:11] #58 closed

[2019-01-30 15:00] Mase9527 commented on #52
Please make an update ! is very fast

[2019-05-06 18:57] mohamadrezakoohkan commented on #38
you should create a session manager and use session manager instead of alamofire directly, dotzu need to observer the session configuration that you set.

[2019-05-07 04:53] #38 closed